[submodule "ens-normalize.js"]
	path = ens-normalize.js
	url = https://github.com/adraffy/ens-normalize.js
[submodule "ens-labels"]
	path = ens-labels
	url = https://github.com/adraffy/ens-labels
[submodule "ENSNormalize.cs"]
	path = ENSNormalize.cs
	url = https://github.com/adraffy/ENSNormalize.cs
[submodule "ENSNormalize.java"]
	path = ENSNormalize.java
	url = https://github.com/adraffy/ENSNormalize.java
[submodule "go-ens-normalize"]
	path = go-ens-normalize
	url = https://github.com/adraffy/go-ens-normalize
